body {
	/*background-image: url('https://openclipart.org/download/222488/pengucorn.svg');*/
/*	background-size: 1331px 1200px;
	background-position: 50% -150px, center;
	background-repeat: no-repeat;
	margin-top: 15px;*/
	background-color: #457e86;
	color: #000;
	border: 1px solid red;
}

/*.container {

}*/

.main {
/*	background-color: #86457e;
*/	width: 90%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid red;
}

article {
	width: 100%;
	background-color: #fff;
	/*display: inline-block;*/
	padding: 5px 0 10px;
	border: 1px solid red;
}

h2 {
	text-align: center;
	margin-top: 20px;
}

h3 {
	width: 90%;
	margin: 0 5%;
	font-size: 1.4em;
}

p {
	font-size: 1.25em;
	/*text-align: center;*/
}

span {
	margin-left: 15px;
}

footer {
	color: #042e48;
	font-size: 0.85em;
}

.buttons {
	margin: 20px auto;
}

.button {
	color: #457e86;
/*	background-color: #8c8b94;*/
	font-size: 0.85em;
	margin: 10px auto;
	padding: 5px;
	/* overwriting bootstrap button style */
	border: 1px solid #58575d;
	border-radius: 10px;

/*	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-top: ;
	border-right: ;
	border-left: ;
	border-bottom: 3px solid #58575d;
*/}

img {
	display: none;
/*	max-width: 90%;
	height: 65%;
	margin: 0 auto;
*/}

.story-link, .story {
	width: 90%;
	margin: 0 5%;
}

.story-link {
	color: #457e86;
	display: block;
	max-width: 90%;
	font-size: 1.4em;
	text-align: justify;
	word-wrap: break-word;
}

a:link, a:hover {
	color: #457e86;
}

/* phone landscape does not look good */

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 600px)  { /* and (orientation: portrait) */

	body {
		/*background-size: 1500px 1351px;
		background-position: 50% -165px, center;*/
	}

	h2 {
		margin-top: 20px;
	}

	article {
		width: 50%;
		height: 400px;
		float: left;
	}

	img {
		display: block;
		max-width: 90%;
		height: 65%;
		margin: 0 auto;
	}

}

/*@media only screen and (min-width: 640px) and (orientation: landscape) {

	body {
		background-size: 355px 320px;
		background-position: 90% 30px;
	}

	h2 {
		margin-top: 0;
	}

	p {
	}

	.button {
		margin: 10px 0;
	}
}*/

@media only screen and (min-width: 768px) {

	body {
/*		background-size: 900px 811px;
		background-position: 50% 40px, center;
*/	}

	main {
		width: 80%;
	}

	h2 {
		text-align: center;
/*		margin-top: 110px;*/
	}

	p {
		/*text-align: center;*/
	}

	article {
		width: 33%;
		height: 260px;
		float: left;
		border: 1px solid red;
	}

	img {
		display: block;
		max-width: 90%;
		height: 65%;
		margin: 0 auto;
	}

	.button {
		margin: 30px auto;
	}
}

@media only screen and (min-width: 992px) {
	body {
		background-position: 50% 40px, center;
	}

	header {
		/*margin-top: 110px;*/
	}

	article {
		/*width: 33%;*/
		height: 350px;
		margin: 0 auto;
	}

}

@media only screen and (min-width: 1200px) {
	/* how to handle case where screen is wider than image width*/
}